<mat-toolbar color="primary">
    <span>WISDOM INSTITUE</span>
    <span class="example-spacer"></span>
    
    <ng-container *ngIf="!isLoggedIn">
      <button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</button>
        <button mat-button routerLink="/login">
          <mat-icon>power_settings_new</mat-icon> Login
        </button>

        <button mat-button routerLink="signup">
          <mat-icon>account_circle</mat-icon> Sign Up
        </button>

    </ng-container>    

    <!-- For Admin Dashboard -->
    <ng-container *ngIf="isAdmin && isLoggedIn">
      <button mat-button routerLink="/user" routerLinkActive="active">Students</button>
      <button mat-button routerLink="/course" routerLinkActive="active">Courses</button>
      <button mat-button routerLink="/schedule" routerLinkActive="active">Schedule</button>
      <button mat-button (click)="logout()">
        <mat-icon>power_settings_new</mat-icon> Logout
      </button>
    </ng-container>
  
    <!-- For Student Dashboard -->
    <ng-container *ngIf="!isAdmin && isLoggedIn">
      <button mat-button routerLink="/myProfile" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon> My Profile
      </button>
      <button mat-button routerLink="/course" routerLinkActive="active">Courses</button>
      <button mat-button (click)="logout()" >
        <mat-icon>power_settings_new</mat-icon> Logout
      </button>
    </ng-container>
  </mat-toolbar>
