
<div mat-dialog-title>
  <h1>Course Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Course Code</mat-label>
        <input matInput type="text" placeholder="Ex. Technical" formControlName="courseCode">
        <mat-error *ngIf="empForm.get('courseCode')!.hasError('required')">
          Course Code is required!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" placeholder="Ex. Technical" formControlName="title">
        <mat-error *ngIf="empForm.get('title')!.hasError('required')">
          Title is required!
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St" formControlName="description"></textarea>
        <mat-error *ngIf="empForm.get('description')!.hasError('required')">
          Description is required!
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
  </div>
</form>
