<mat-toolbar color="primary">
  <span>WISDOM INSTITUE</span>
  <span class="example-spacer"></span>

  <ng-container>
    <button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</button>
    <button mat-button routerLink="/login">
      <mat-icon>power_settings_new</mat-icon> Login
    </button>

    <button mat-button routerLink="/signup">
      <mat-icon>account_circle</mat-icon> Sign Up
    </button>

  </ng-container>

</mat-toolbar>



<div class="outer">
<div class="container">
  <div class="row">
    <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3 ">
      <div class="panel border big-white">
        <div class="panel-heading">
          <h3 class="pt-3 font-white-bold">SignUp</h3>
        </div>
        <div class="panel-body p-3">
          <form [formGroup]="signUpForm">

            <div class="form-group pt-3">
              <div class="input-field" [class.error]="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')">
                <input formControlName="firstName" type="text" placeholder="First Name">
              </div>
            </div>
            <small *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')" class="text-danger">*Last Name is required!</small>

            <div class="form-group pt-3">
              <div class="input-field" [class.error]="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')">
                <input formControlName="lastName" type="text" placeholder="Last Name">
              </div>
            </div>
            <small *ngIf="signUpForm.controls['emailId'].dirty && signUpForm.hasError('required','emailId')" class="text-danger">*Email is required!</small>

            <div class="form-group pt-3">
              <div class="input-field" [class.error]="signUpForm.controls['emailId'].dirty && signUpForm.hasError('required','emailId')">
                <input formControlName="emailId" type="text" placeholder="Email Address">
                <small *ngIf="signUpForm.get('emailId')!.hasError('emailId') && signUpForm.controls['emailId'].dirty" class="text-danger">*Invalid email format!</small>
              </div>
            </div>
            <small *ngIf="signUpForm.controls['emailId'].dirty && signUpForm.hasError('required','emailId')" class="text-danger">*Email Address is required!</small>

            <div class="form-group pt-3">
              <div class="input-field" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')">
                <input formControlName="password" type="password" placeholder="Password">
              </div>
            </div>
            <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="text-danger">*Password is required!</small>


            <div class="form-group pt-3">
              <div class="input-field" [class.error]="signUpForm.controls['address'].dirty && signUpForm.hasError('required','address')">
                <input formControlName="address" type="text" placeholder="Address">
              </div>
            </div>
            <small *ngIf="signUpForm.controls['address'].dirty && signUpForm.hasError('required','address')" class="text-danger">*Address is required!</small>

            <div class="form-group pt-3">
              <div class="input-field" [class.error]="signUpForm.controls['phoneNo'].dirty && signUpForm.hasError('required','phoneNo')">
                <input formControlName="phoneNo" type="text" placeholder="Phone Number">
              </div>
            </div>
            <small *ngIf="signUpForm.controls['phoneNo'].dirty && signUpForm.hasError('required','phoneNo')" class="text-danger">*Phone Number is required!</small>

            <button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="onSignup()">Register</button>

            <div class="text-center pt-4 text-muted">Already have an account?<a id="forget" routerLink="/login">Login</a></div>


          </form>

        </div>

      </div>
    </div>
  </div>
</div>
</div>

