<mat-toolbar color="primary">
  <span>WISDOM INSTITUE</span>
  <span class="example-spacer"></span>

  <ng-container>
    <button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</button>
    <button mat-button routerLink="/login">
      <mat-icon>power_settings_new</mat-icon> Login
    </button>

    <button mat-button routerLink="/signup">
      <mat-icon>account_circle</mat-icon> Sign Up
    </button>

  </ng-container>

</mat-toolbar>



<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3 ">
        <div class="panel border big-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-white-bold">Login</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="loginForm">
              <div class="form-group pt-3">
                <div class="input-field" [class.error]="loginForm.controls['emailId'].dirty && loginForm.hasError('required','emailId')">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="emailId" type="text" placeholder="Email Address">
                </div>
              </div>
              <small *ngIf="loginForm.controls['emailId'].dirty && loginForm.hasError('required','emailId')" class="text-danger">*Email Address is required!</small>

              <div class="form-group pt-3">
                <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                  <span class="fa fa-lock p-2"></span>
                  <input formControlName="password" type="password" placeholder="Password">
                </div>
              </div>
              <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*Password is required!</small>


              <button (click)="onLogin()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>

              <div class="text-center pt-4 text-muted">Don't have an account?<a id="forget" routerLink="/signup">SignUp</a></div>


            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
