<div class="navbar-container">
  <header>
    <div class="logo-brand-container">
      <div class="logo">

        <img src="../../../../assets/images/logo.jpg" alt="Logo">
      </div>
      <div class="brand">
        <span>Wisdom Institute</span>
      </div>
    </div>
    <div class="logout-container">
      <button (click)="logout()">Logout</button>
    
    </div>
  </header>
</div>

<!-- dashboard.component.html -->
<div class="card-container">
  <div class="card" routerLink="/courses">
    <mat-card>
      <mat-card-title>Courses</mat-card-title>
      <mat-card-content>
        <!-- Add any additional content for the Courses card -->
      </mat-card-content>
    </mat-card>
  </div>

  <div class="card" routerLink="/students">
    <mat-card>
      <mat-card-title>Students</mat-card-title>
      <mat-card-content>
        <!-- Add any additional content for the Students card -->
      </mat-card-content>
    </mat-card>
  </div>

  <div class="card" routerLink="/schedules">
    <mat-card>
      <mat-card-title>Schedules</mat-card-title>
      <mat-card-content>
        <!-- Add any additional content for the Schedules card -->
      </mat-card-content>
    </mat-card>
  </div>
</div>







