<mat-toolbar color="primary">
  <span>WISDOM INSTITUE</span>
  <span class="example-spacer"></span>

  <ng-container >
    <button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</button>
    <button mat-button routerLink="/login">
      <mat-icon>power_settings_new</mat-icon> Login
    </button>

    <button mat-button routerLink="/signup">
      <mat-icon>account_circle</mat-icon> Sign Up
    </button>

  </ng-container>

</mat-toolbar>





<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!--<carousel >
        <slide>
          <img src="assets/nature.jpg" alt="Slide 1" class="d-block w-100">
        </slide>
        <slide>
          <img src="assets/nature1.jpg" alt="Slide 2" class="d-block w-100">
        </slide>
        <slide>
          <img src="assets/nature2.jpg" alt="Slide 3" class="d-block w-100">
        </slide>
      </carousel>-->
    </div>
  </div>
  <div class="about-container">
    <h1>
      <br /><br /><strong>Welcome To WISDOM INTITUE!</strong> 
    </h1>

  </div>
</div>

