<div mat-dialog-title>
    <h1>Schedule Form</h1>
</div>
<form [formGroup]="scheduleForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Course</mat-label>
                <mat-select formControlName="courseTitle">
                    <mat-option *ngFor="let val of courses" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Day</mat-label>
                <mat-select formControlName="day">
                    <mat-option *ngFor="let val of days" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Time</mat-label>
                <mat-select formControlName="time">
                    <mat-option *ngFor="let val of fullDayTimeSlots" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Instructor</mat-label>
                <mat-select formControlName="instructor">
                    <mat-option *ngFor="let val of instructorNames" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>
