<mat-toolbar color="primary">
  <span>WISDOM INSTITUE</span>
  <span class="example-spacer"></span>



  <ng-container>
    <button mat-button routerLink="/myProfile" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon> My Profile
    </button>
    <button mat-button routerLink="/courseStudent" routerLinkActive="active">Courses</button>
    <button mat-button (click)="logout()">
      <mat-icon>power_settings_new</mat-icon> Logout
    </button>
  </ng-container>
</mat-toolbar>

<!--<mat-form-field appearance="outline">
  <mat-label>First name</mat-label>
  <input matInput type="text" placeholder="Ex. Technical" formControlName="firstName">
  <mat-error *ngIf="studentForm.get('firstName').hasError('required')">
    First name is required!
  </mat-error>
</mat-form-field>-->


<div class="main-body">

  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search by First Name" #input>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Title</th>
        <td mat-cell *matCellDef="let row"> {{row.courseTitle}}</td>
      </ng-container>

      <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Day </th>
        <td mat-cell *matCellDef="let row"> {{row.day}}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
        <td mat-cell *matCellDef="let row"> {{row.time}}</td>
      </ng-container>

      <ng-container matColumnDef="instructor">
        <th mat-header-cell *matHeaderCellDef> Instructor </th>
        <td mat-cell *matCellDef="let row"> {{row.instructor}}</td>
      </ng-container>




      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="7">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
