<!--<div mat-dialog-title>
  <h1>Time Schedule of the Course</h1>
</div>
<div mat-dialog-content class="content">-->
<!--<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>Course</mat-label>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Day</mat-label>
  </mat-form-field>
</div>

<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>Time</mat-label>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Instructor</mat-label>
  </mat-form-field>

</div>-->
<!--</div>-->

<div mat-dialog-title>
  <h1>Time Schedule of the Course</h1>
</div>
<!--<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Course Title</mat-label>
      <input matInput formControlName="courseTitle" [value]="scheduleForm.get('courseTitle').value">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Day</mat-label>
      <input matInput formControlName="day" [value]="scheduleForm.get('day').value">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Time</mat-label>
      <input matInput formControlName="time" [value]="scheduleForm.get('time').value">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Instructor</mat-label>
      <input matInput formControlName="instructor" [value]="scheduleForm.get('instructor').value">
    </mat-form-field>
  </div>
</div>-->

